@import url('https://fonts.googleapis.com/css2?family=Kanit:wght@300&family=Open+Sans&display=swap');


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
    
}

.card-container{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 50px;
    padding: 0 0 20px;
    flex-wrap: wrap;
}
img {
    max-width: 100%;
}

.card-item {
    display: flex;
    justify-content: center;
    flex-direction: column;
    width: 310px;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.20)
}
.card-item figure {
    overflow: hidden;
}
.card-item figure img {
    width: 100%;
    height: 211px;
    object-fit: cover;
    cursor: pointer;
    transition: all .5s;
}

.card-item:hover img {
    transform: scale(1.2);
}

.card-info {
    padding: 15px 30px;
    display: flex;
    flex-direction: column;
    /* gap: 7px; */
    line-height: 2;
}
.card-info h4 {
    text-wrap: balance;
}
.card-info span {
    color: #fb7633;
    font-size: 1rem;
    font-weight: 500;
}
.card-des, .card-stock {
    font-size: 14px;
    color: #757575;
}

.card-precio {
    font-weight: 600;
    font-size: 18px;
}

.card-info button {
    width: 100%;
    padding: 15px 10px;
    border: none;
    background-color: #7f06cf;
    color: #fff;
    border-radius: 20px;
    cursor: pointer;
    transition: all .2s;

}
.card-info button:hover {
    background-color: #6912a0;
}






header {
    display: flex;
    justify-content:space-between;
    padding: 0 20px;
    align-items: center;
    flex-wrap: wrap;
}

.contenedor-carrito {
    display: flex;
}
.icon-cart {
    width: 40px;
    height: 40px;
    stroke: #000;
    cursor: pointer;

}

#Buscador {
    background: url(https://cdn0.iconfinder.com/data/icons/slim-square-icons-basics/100/basics-19-32.png) no-repeat 0px 5px;
    background-size: 24px;
    width: 500px;
    border: transparent;
    border-bottom: solid 1px #ccc;
    padding: 10px 10px 10px 30px;
    outline: none;
  }



.container-icon {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
}
#contador-productos {
    font-size: 12px;
}
.count-products {
    position: absolute;
    top: 55%;
    right: 0;
    background-color: #000;
    color: #fff;
    width: 25px;
    height: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
}

.container-cart-products {
    position: absolute;
    top: 50px;
    right: 0;
    background-color: #fff;
    z-index: 1;
    width: 400px;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    box-shadow: 0 10px 50px rgba(0, 0, 0, 0.20);
    border-radius: 20px;
}

.cart-product {
    display: flex;
    padding: 30px;
    align-items: center;
    border-bottom: 1px solid rgba(0, 0, 0, 0.20);
    justify-content: space-between;
}

.info-cart-product {
    display:flex;
    justify-content: space-between;
    /* flex: 0.8; */
    gap: 20px;
}

.titulo-producto-carrito {
    font-size: 20px;
}
.precio-producto-carrito {
    font-weight: 700;
    font-size: 20px;
    margin-left: 10px;
}

.cantidad-producto-carrito {
    font-weight: 400;
    font-size: 20px;
}

.cart-total {
    display: flex;
    justify-content: center;
    padding: 20px 0;
    gap: 20px;
    align-items: center;
}

.cart-total h3 {
    font-size: 20px;
    font-weight: 700;
}

.total-pagar  {
    font-size: 20px;
    font-weight: 900;
}
.icon-close {
    width: 25px;
    height: 25px;
}

.icon-close:hover {
    background-color: #e02121;
    color: #fff;
    border-radius: 100%;
    cursor: pointer;
}

/* ocultar el carrito */
.hidden-cart {
    display: none;
}

.card-des, .card-stock {
    font-size: 14px;
    color: #757575;
}

.card-body span {
    color: #fb7633;
    font-size: 1rem;
    font-weight: 500;
}

@media (max-width: 768px) {
    .contenedor-carrito {
        justify-content: end;
    }

    .container-icon {
        justify-content: end;
    }
    #Buscador {
        width: 217px;
    }
    header {
        padding-bottom: 17px;
        justify-content: end;
    }
    .container-cart-products {
        width: 291px;
    }

    .cart-product {
        gap: 50px;
        padding: 19px;
    }
}

.card-mensaje {
    padding: 20px;
    text-align: center;
}

.btn-vaciar-carrito {
    border: none;
    background-color: #000;
    color: #fff;
    padding: 15px 0;
    display: block;
    width: 100%;
    margin-top: 10px;
    border-bottom-left-radius: 10px;
    cursor: pointer;
    font-size: 16px;
    transition: all .3s ease;

}

.btn-vaciar-carrito:hover {
    background-color: #302e2e;
}

.img-product {
    width: 70px;
    height: 70px;
}